#aeheader {
  background: darkgreen;
  color: white;
  cursor: pointer;
  padding: 2px;
}

#aecontent {
  background: antiquewhite;
  border-style: groove;
  border-color: coral;
  border-width: 7px;
}
